@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
  background-image: linear-gradient(100deg, #010036, #00677e);
}

.page-size {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

nav {
  background-color: #003D75;
  color: white;
  text-align: center;
  padding: 20px 60px;
}

.nav-container {
  display: flex;
  margin: 0 auto 0 auto;
}

.logo {
  font-weight: bold;
  font-size: 15px;
  flex-shrink: 0;
}

.navbar {
  margin-left: auto;
  display: flex;}

ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

li {
  flex-shrink: 0;
  padding: 0 20px;
  flex-wrap: wrap;
}

li:hover {
  text-decoration: underline;
}

li:last-child {
  padding: 0 0 0 20px;
}

a {
  text-decoration: none;
  color: white;
  font-size: 14px;
}

.hero-section {
  position: relative;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-section::before {
  content: "";
  background-image: url("./images/background.jpg");
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.75;
}

.hero-header h1 {
  color: #F8F7F7;
  position: relative;
  font-size: 4rem;
  text-align: center;
}

.main-text {
  margin-bottom: 30px;
}

.secondary-text h2 {
  /* margin-bottom: 9px; */
  position: relative;
  color: #F8F7F7;
  font-weight: 400;
  text-align: center;
}

.about-us {
  margin: 0 0 0 0;
  background-color: rgba(255, 255, 255, 0.1);
}

.card-container {
  display: flex;
  flex-basis: auto;
  justify-content: center;
  gap: 40px;
  padding: 20px;
  height: 700px;
  padding: 60px;
}

.card-container > div {
  background-color: #F8F7F7;
  color: black;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  border-radius: 45px;
  max-width: 400px;
}

.our-mission {
  color: white;
  text-align: center;
  height: 700px;
  padding-top: 80px;
}

.our-mission h2 {
  text-align: center;
  font-size: 40px;
  margin: 20px auto;
}

.our-mission p {
  margin-top: 70px;
  font-size: 30px;
  font-weight: lighter;
  line-height: 3rem;
}